.cost-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #bd8025;
  border-radius: 12px;
  /* box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); */
}
.cost-item__decription {
  display: flex;
  flex-flow: row nowrap;/* flex-direction: column-reverse; *//* flex-wrap: nowrap; */
  justify-content: flex-start;
  align-items: center;
  flex: 1; /* grow: 1 shrink: 1 base: 0 */
  font-size: 1.25rem;
}
.cost-item h2 {
  font-size: 1.25rem;
  flex: 1;
  margin: 0 1rem;
  color: #fefae1;
}
.cost-item__sum {
  font-weight: bold;
  color: #fefae1;
  background-color: #2a846e;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;  
}